{% extends 'layout.html.twig' %}

{% block title %}Bienvenue sur votre annuraire des séries !
{% endblock %}


{% block content %}

	<header class="TVshowsHeader"></header>

	<main class="TVshows">
		<h1>Qu'allons nous regarder aujourd'hui ?</h1>

		<h2>TAG DE SERIE</h2>
		<section class="carouselSerie">
			<ul class="carousel-items">

				{% for serie in series %}
					<li class="carousel-item">
						<a href="/serie?id={{serie.id}}">
							<img src="/assets/images/{{serie.image}}"/>
						</a>
						<div class="card-content">
							<h3 class="card-title">{{serie.name}}</h3>
						</div>
					</li>
				{% endfor %}

			</ul>
		</section>

		<h2>TAG DE SERIE</h2>
		<section class="carouselSerie">
			<ul class="carousel-items">
				<li class="carousel-item">
					<a href="/serie?id=">
						<img src="https://placeimg.com/572/300/animals"/>
					</a>
					<div class="card-content">
						<h3 class="card-title">Ma serie</h3>
					</div>
				</li>
				<li class="carousel-item">
					<a href="/serie?id=">
						<img src="https://placeimg.com/572/300/animals"/>
					</a>
					<div class="card-content">
						<h3 class="card-title">Ma serie</h3>
					</div>
				</li>


				<li class="carousel-item">
					<a href="/serie?id=">
						<img src="https://placeimg.com/572/300/animals"/>
					</a>
					<div class="card-content"></div>
				</li>


				<li class="carousel-item">
					<a href="/serie?id=">
						<img src="https://placeimg.com/572/300/animals"/>
					</a>
					<div class="card-content">
						<h3 class="card-title">Ma serie</h3>
					</div>
				</li>
			</ul>
		</section>

		<h2>TAG DE SERIE</h2>
		<section class="carouselSerie">
			<ul class="carousel-items">
				<li class="carousel-item">
					<a href="/serie?id=">
						<img src="https://placeimg.com/572/300/animals"/>
					</a>
					<div class="card-content">
						<h3 class="card-title">Ma serie</h3>
					</div>
				</li>
				<li class="carousel-item">
					<a href="/serie?id=">
						<img src="https://placeimg.com/572/300/animals"/>
					</a>
					<div class="card-content">
						<h3 class="card-title">Ma serie</h3>
					</div>
				</li>


				<li class="carousel-item">
					<a href="/serie?id=">
						<img src="https://placeimg.com/572/300/animals"/>
					</a>
					<div class="card-content">
						<h3 class="card-title">Ma serie</h3>
					</div>
				</li>


				<li class="carousel-item">
					<a href="/serie?id=">
						<img src="https://placeimg.com/572/300/animals"/>
					</a>
					<div class="card-content">
						<h3 class="card-title">Ma serie</h3>
					</div>
				</li>
			</ul>
		</section>


	</main>

{% endblock %}
{% block javascript %}
	<script src="/assets/scripts/script.js"></script>
{% endblock %}
