{% extends '/Layouts/landing.html.twig' %}



{% block content %}

{% block header %} {% include '/Include/_home_header.html.twig'%} {% endblock %}

<section class="container mt-3">
	<form class="row" action="connexion/submit" method="post">
		<div class=" col-lg-8 col-md-10 col-sm-12 ms-auto me-auto bg-light rounded-1 p-3">
			<div class="mb-3 d-flex justify-content-center">
				<label for="mail"> Votre email : </label>
				<input type="email" name="mail" id="mail" placeholder="Votre email" required>
			</div>
			<div class="mb-3 d-flex justify-content-center">
				<label for="password">Votre mot de passe : </label>
				<input type="password" name="password" id="password" placeholder="Votre mot de passe" required>
			</div>
			<div class="mb-3 d-flex justify-content-center">
				<input class="btn btn-success" type="submit" value="Connexion">
			</div>
		</div>
	</form>
</section>

{% endblock %}
