{% extends 'layout.html.twig' %}


{% block content %}
	<main class="connect">
		<section class="container-connect">
			<h1>Connectez-vous !</h1>
			<p>Si vous avez un compte, évidement... Sinon
				<a href="register">enregistrez-vous !</a>
			</p>
			<form class="row justify-content-around" method="post">
				<div class="div-two mb-3 d-flex justify-content-center">
					<label for="email">
						Votre email :</label>
					<input type="email" name="email" id="email" placeholder="Votre email" required>
				</div>
				<div class="div-two mb-3 d-flex justify-content-center">
					<label for="password">Votre mot de passe :
					</label>
					<input type="password" name="password" id="password" placeholder="Votre mot de passe" required>
				</div>
				{% for error in errors %}
					<div class="div-two mb-3 d-flex justify-content-center">
						<p>{{error}}</p>
					</div>
				{% endfor %}
				<div class=" div-two mb-3 d-flex justify-content-center">
					<input class="btn" type="submit" value="Connexion">
				</div>
			</form>
		</section>
	</main>
{% endblock %}
