{% extends '/Layouts/landing.html.twig' %}


{% block content %}

	<section class="container-connect mt-3">
		<form class="row" action="connexion/submit" method="post">
			<div>
				<div class=" div-two mb-3 d-flex justify-content-center">
					<label for="mail">
						Votre email :
					</label>
					<input type="email" name="mail" id="mail" placeholder="Votre email" required>
				</div>
				<div class=" div-two mb-3 d-flex justify-content-center">
					<label for="password">Votre mot de passe :
					</label>
					<input type="password" name="password" id="password" placeholder="Votre mot de passe" required>
				</div>
				<div class=" div-two mb-3 d-flex justify-content-center">
					<input class="btn btn-success" type="submit" value="Connexion">
				</div>
			</div>
		</form>
	</section>

{% endblock %}
