{% extends 'layout.html.twig' %}


{% block content %}

	{% for error in errors %}

		<p>{{error}}</p>

	{% endfor %}
	<main class="connect">
		<section class="container-connect">
			<h1 class="text-center">Rejoignez-nous !</h1>
			<form class="row justify-content-around" method="post">
				<div class="div-two mb-3 d-flex justify-content-center">
					<label for="firstname">Votre prénom :
					</label>
					<input type="text" name="firstname" id="firstname" placeholder="Votre prénom" required>
				</div>
				<div class="div-two mb-3 d-flex justify-content-center">
					<label for="lastname">Votre nom de famille :
					</label>
					<input type="text" name="lastname" id="lastname" placeholder="Votre nom de famille" required>
				</div>
				<div class="div-two mb-3 d-flex justify-content-center">
					<label for="email">Votre email :
					</label>
					<input type="email" name="email" id="email" placeholder="Votre email" required>
				</div>
				<div class="div-two mb-3 d-flex justify-content-center">

					<label for="password">Votre mot de passe :
					</label>
					<input type="texte" name="password" id="password" placeholder="Votre mot de passe" required>
				</div>
				<div class="div-two mb-3 d-flex justify-content-center">

					<label for="birthdate">Votre date de naissance :
					</label>
					<input type="date" name="birthdate" id="birthdate" placeholder="Votre date de naissance" required>
				</div>
				<div class="div-two mb-3 d-flex justify-content-center">
					<input class="btn" type="submit" value="Je m'enregistre !">
				</div>
			</form>
		</section>
	</main>


{% endblock %}
