{% extends '/Layouts/landing.html.twig' %}


{% block content %}

	{% for error in errors %}

		<p>{{error}}</p>

	{% endfor %}

	<section class="full-form">
		<form action="/register/adduser" method="post">
			<div class="divone mt-3">
				<label for="lastname">Votre nom de famille :
				</label>
				<input type="text" name="lastname" id="lastname" placeholder="Votre nom de famille" required>
			</div>

			<div class="divone mt-3">
				<label for="firstname">Votre prénom :
				</label>
				<input type="text" name="firstname" id="firstname" placeholder="Votre prénom" required>
			</div>

			<div class="divone mt-3">
				<label for="email">Votre email :
				</label>
				<input type="email" name="email" id="email" placeholder="Votre email" required>
			</div>

			<div class="divone mt-3">
				<label for="birthdate">Votre date de naissance :
				</label>
				<input type="date" name="birthdate" id="birthdate" placeholder="Votre date de naissance" required>
			</div>


			<input class="btn-one mt-3 d-flex" type="submit" value="Je m'enregistre !">


		</form>
	</section>

{% endblock %}
