<div class="progress-bar" style=" width: {{(seen / totseasons) * 100}}%" role=" progressbar" aria-valuenow=" 25" aria-valuemin=" 0" aria-valuemax=" 100">
	{{ ((seen / totseasons) * 100) | round(0, 'floor') }}%
</div>
