{% extends 'layout.html.twig' %}

{% block content %}
	<header class="TVshowsHeader"></header>
	<main>
		<h1 class="titleAddserie">Ajouter votre série</h1>
		<section>
			{% for error in errors %}
			{% endfor %}


	</section>
</main>{% endblock %}
