.addForm{
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    padding-top: 100px;
    border: 6px solid rgb(92, 88, 115);
    border-radius:12px;
    padding:1rem;
    background-color: rgba(82, 80, 99, 0.4);
    font-size: large;

}

.inputGroupFileAddon04{
    justify-content: flex-end;
}

.titleAddserie{
    text-align: center;
}

.errorsAddserie{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea{
    width:100%;
}




