.addForm{
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    padding-top: 100px;
    border: 6px solid rgb(251, 211, 217);
    border-radius:12px;
    padding:1rem;
    background-color: rgb(251, 211, 217, 0.4);

}

.inputGroupFileAddon04{
    justify-content: flex-end;
}

.titleAddserie{
    text-align: center;
}

.errorsAddserie{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea{
    width:100%;
}




