.connect .container-connect {
    margin: var(--spacing-gap) auto;
    width: clamp(10rem, 80vw, 60rem);
    border: 6px solid var(--button-color);
    border-radius: calc(var(--spacing)*1.5);
    padding: var(--spacing-gap);
    background-color: rgba(252, 227, 157, 0.4);
}

.connect .div-two {
    display: flex;
    flex-direction: column;
    padding: 1rem 3em;
    gap: calc(var(--spacing)/2.66);
}

.connect .btn {
    color: var(--font-color1);
    background-color: var(--button-color);
}

.connect .btn:hover {
    background-color: var(--button-color-hover);
}

.connect input {
    padding: calc(var(--spacing-gap)/2);
}
