.container-connect{
    margin:0 auto;
    max-width: 50%;
    border: 6px solid rgb(92, 88, 115);
    border-radius:12px;
    padding:1rem;
    background-color: rgba(82, 80, 99, 0.4);
}

.div-two{
    display: flex;
    flex-direction: column;
    padding: 0 3em;
    text-align: center;
    gap: 3px;
}