.container-fluid {
    padding: 0;
}

footer{
    margin-top: 150px;
    padding-top: 1%;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
}

  
  h6:hover{
    text-decoration:  wavy underline ;
  }

  body{
    background-image: url(../images/MY.png);
  }

