/* Cosmétique Footer */
footer {
    margin-top: auto;
    background:(var(--linear-color));
}

.text-decoration-none{
    color:var(--font-color1) !important;
}
/* Underline Déco */
.text-decoration-none:hover {
    color: var(--main-color) !important;
}
