/* Cosmétique Footer */
footer {
    margin-top: auto;
    background: var(--footer-color)!important;
    
    padding: var(--spacing);
    justify-content: space-around;
}

.text-decoration-none {
    color: var(--font-color2) !important;
}



