@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;

}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    font-family: 'League Spartan', sans-serif;
    color: var(--font-color1);
}




h1 {
    margin-top: 0;
    font-size: calc(var(--spacing-gap)*2);
    color: var(--font-color1);
    font-weight: bold;
}

h2 {
    margin-top: 0;
    color: var(--font-color1);
}

h3 {
    color: var(--font-color1);
}

a {
    color: var(--font-color1);
}

a:hover {
    color: var(--font-color1);
}

.carroussel-home {
    margin-top: .5rem;
    border: 3px solid var(--button-color-hover);
    padding: .5rem;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
