nav {
    opacity: 1;
    transition: .5s;
    background: var(--linear-color);
    height: 6rem;
    justify-content: space-between;
    align-items: center;
}

nav img {
    object-fit: contain;
    height: 80%;
    width: auto;
    margin-left: .5rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    margin: 0;
    gap: .5rem;
    margin-right: .5rem;
    padding-left: 0;
}

nav a {
    text-decoration: none;
}

nav ul li {
    color: var(--font-color1);
    border-radius: 12px;
    background: var(--button-color);
    padding: 1rem;
}

/* =========================
   DROPDOWN MENU
   ========================= */
.final__dropdown {
    position: relative;
    z-index: 10;
    display: inline-block;
}

.final__dropdown__hover {
    display: inline-block;
    padding: 10px;
    background-color: #323b40;
    color: #ffffff;
    border: 0 solid #323b40;
    cursor: pointer;
}

.final__dropdown__hover:hover {
    background-color: #222222;
}

.final__dropdown__menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: #ffffff;
    color: #323b40;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.final__dropdown:hover .final__dropdown__menu {
    display: block;
}

.final__dropdown__menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-width: 0;
    border-top: 1px solid #e0e0e0;
}

.final__dropdown__menu a:hover {
    background-color: #f0f0f0;
    color: #323b40;
}


nav li.full {
    display: none;
}

@media screen and (min-width: 768px) {
    nav li.full {
        display: initial;
    }

    .final__dropdown {
        display: none;
    }
}

nav ul li.deco {
    background-color: var(--third-color);
}

nav .dropdown-toggle {
    color: var(--font-color1);
    border-radius: 12px;
    background: var(--button-color);
    padding: 1rem;

}

nav ul li:hover {
    transition: 0.4s;
    background-color: var(--button-color-hover);
}

.navbar-brand {
    height: 100%;
}

.navbar form,
.navbar label,
.navbar>btn {
    background-color: var(--button-color);
    color: var(--font-color1);
}







@media screen and (min-width: 992px) {
    nav.scrolled {
        opacity: 0.7;
    }

    nav:hover {
        opacity: 1;
    }
}
