section.full-form {
    display: flex;
    max-width: 50%;
    margin: 0 auto;
    border: 6px solid rgb(251, 211, 217);
    border-radius:12px;
    padding:1rem;
    background-color: rgb(251, 211, 217, 0.4);

}

.divone{
    display: flex;
    flex-direction: column;
    padding: 0 3em;
    text-align: center;
    gap: 3px;
}

.btn-one{
    justify-content: center;
    background:var(--linear-color);
    padding: 2px;
    border-radius: 15px;
    color: var(--font-color1);
    margin-right: 0;
    border-color:var(--font-color1);
}