.research,
.etagere {
    /* margin: 0 1rem;  */
    margin: calc(var(--spacing-gap)*3) auto;
}

.TVshows h1,
.etagere h1 {
    text-align: center;
    margin: calc(var(--spacing-gap)*2);
}

.research ul.serieList,
.etagere ul.serieList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: calc(var(--spacing-gap)*1.5);
    list-style: none;
    margin: 0 calc(var(--spacing-gap));
    padding-left: 0;
}

.research li.cardSerie,
.etagere li.cardSerie {
    min-height: calc(var(--spacing-gap)*20);
    overflow: auto;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
    border-radius: calc(var(--spacing)*1.5);
    transition: .3s ease-in-out;
}

@media screen and (max-width:400px) {

    .research ul.serieList,
    .etagere ul.serieList {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) {

    .research li.cardSerie:hover,
    .etagere li.cardSerie:hover {
        filter: drop-shadow(5px 5px 10px grey);
        transform: translateY(-1rem);
        transition: .3s ease-in-out;
    }
}

.research li img:first-of-type,
.etagere li img:first-of-type {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center center;
}

.research li img.favorite,
.etagere li img.favorite {
    width: calc(var(--spacing-gap)*2);
    height: calc(var(--spacing-gap)*2);
    object-fit: contain;
    pointer-events: none;
}

.research .card-content,
.etagere .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--third-color);
    text-align: center;
    height: 20%;
    padding:var(--spacing-gap);
}

.research .card-content .button,
.research .card-content .a {
    border: 1px solid #F5F5F5;
    color: #F5F5F5;
    padding: calc(var(--spacing-gap)/3.33);
}

h3.card-title {
    text-align: left;
    font-size: 100%;
}

.etagere progress {
    width: 20%
}

.serieList{
    background-color: var(--linear-color);
}