header.TVshowsHeader {
    width: 100%;
    height: 10rem;
    background-image: url("../images/ban3.png");
    background-size: cover;
    background-position-y: center;

}

.TVshows h1 {
    text-align: center;
    margin: 1rem;
}

.TVshows h2 {
    margin-top: 1rem;
}

/* Carousel*/

ul.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

li.carousel-item {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    margin-left: 1rem;
    list-style-type: none;
    min-width: 90vw;
}

@media screen and (min-width: 768px) {
    li.carousel-item {
        min-width: clamp(18rem, 40vw, 25rem);
    }

    li.carousel-item:hover {
        filter: drop-shadow(5px 5px 10px grey);
        transform: translateY(-1rem);
        transition: .3s ease-in-out;
    }
}


img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: center center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-content {
    background-image: linear-gradient(0deg, #ecd4d8, #fadfe4);
    margin-top: -6px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    color: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.card-content .button,
.card-content .a {
    border: 1px solid #fff;
    color: #fff;
    padding: .3rem;
}

.h3 {
    color: #fff;
}



::-webkit-scrollbar-track {
    display: none;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    display: none;
    height: 0.5rem;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    display: none;
    background-color: #3d4852;
    border-radius: 3px;
}
