:root {
    /*** Colors Variables ***/
    --main-color: #6B040F;
    --second-color: #fff4cd;
    --third-color: #292929;

    /*** Font Color ***/
    --font-color1:rgba(171, 43, 75, 0.918);

    /* Couleur nav ,background, footer */

    --linear-color: linear-gradient( 92.7deg,  rgb(248, 202, 202) 8.5%, rgb(255, 254, 214)90.2% );


    /*spacing variables*/
    --spacing: 8px;
    --spacing-xl: calc(var(--spacing) * 2);
    --spacing-gap: 1rem;
}
  
