:root {
    /*Colors Variables*/

    /*spacing variables*/
    --spacing: 8px;
    --spacing-xl: calc(var(--spacing) * 2);
    --main-color:#6B040F;

    /* Couleur de texte sur fond foncé */
    --font-color:#FFFAE8;

    /* Couleur de texte sur fond clair */
    --font-color:#292929;
}