{% extends 'layout.html.twig' %}

{% block content %}


	<main class="research">
		{% if searchResults == NULL %}
			<p>
				Aucun résultat pour votre recherche...
				<a href="addserie">Ajoutez votre série !</a>
			</p>

		{% else %}
			<section>
				<ul class="serieList">
					{% for serie in searchResults %}
						<li class="cardSerie">
							<a href="/seriepage?id={{serie.id}}">
								<img src="/assets/images/shows/{{serie.serie.image}}"/>
							</a>
							<div class="card-content">
								<h3 class="card-title">{{serie.serie.name}}</h3>
								<a href="/series/addOrDeleteToUser?id={{serie.id}}"><img class="favorite" src={% if serie.serie.fav == NULL %} "/assets/images/not_fav.svg" {% else %} "/assets/images/fav.svg" {% endif %}/></a>
							</div>
						</li>
					{% endfor %}
				</ul>
			</section>
			<p>
				Votre série n'est pas là ?
				<a href="addserie">Ajoutez là !</a>
			</p>
		{% endif %}
	</main>
{% endblock %}
{% block javascript %}
	<script src="/assets/scripts/ajaxRequest.js"></script>
{% endblock %}
