<nav class="navbar bg-light container-fluid class='sticky-top'">


  <a class="text-decoration-none" href="/"><h1 class"justify-self-start">My TV-tagère</h1></a>
  <form class="justify-content-end">
    <a class="text-decoration-none text-muted" href="/register"><button class="btn btn-warning me-2" type="button">S'enregistrer</button></a>

    <a class="text-decoration-none text-muted" href="/connexion"><button class="btn btn-success me-2" type="button">Se connecter</button></a>
  </form>

</nav>
