<nav class="navbar sticky-top">
	{% if user %}
		<a class="navbar-brand" href="series">
			<img src="assets/images/MY.png">
		</a>
	{% else %}
		<a class="navbar-brand" href="/">
			<img src="assets/images/MY.png">
		</a>
	{% endif %}


	<ul>
		{% if user %}
			<li>
				<a href="/series">Séries</a>
			</li>
			<li>
				<a href="addserie">Ajout Série</a>
			</li>
			<li>
				<a href="deconnexion">Déconnexion</a>
			</li>
			<li>
				<form role="search" action="/search" method="GET">
					<div class="form-group">
						<label for="research"></label>
						<input class="form-control" name="research" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</div>
				</form>
			</li>

		{% else %}
			<li>
				<a href="connexion">Se connecter</a>
			</li>
			<li>
				<a href="register">S'enregistrer</a>
			</li>
		{% endif %}
	</ul>
</nav>
