<nav class="navbar sticky-top navbar-expand-lg navbar-light --bs-info">
	<a class="navbar-brand" href="/series">
		<img src="assets/images/MY.png">
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link text-white h6" href="/series">Séries</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white h6" href="addserie">Ajout Série</a>
			</li>
			<li>
				<div class="dropdown">
					<form class="d-flex" role="search" action="/search" method="GET">
						<div class="form-group">
							<label for="research"></label>
							<input class="form-control me-2" name="research" type="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</div>
					</form>
				</li>
			</li>
		</ul>
	</div>
</nav>
